@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --card-bg: #111111;
  --card-border: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-bg: var(--card-bg);
  --color-card-border: var(--card-border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-gold: #D4AF37;
  --color-gold-hover: #b5952f;
  --color-royal-blue: #002366; /* Deep Royal Blue */
  --color-royal-blue-light: #4169E1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


input[type="checkbox"]:checked {
  background-color: var(--color-gold);
  border-color: var(--color-gold);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

